.button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  background-color: var(--primary-color);

  border: none;
  outline: none;

  border-radius: 10px;
  cursor: pointer;
  width: 100%;

  &--primary {
    background-color: var(--primary-color);
    color: white;

    &:hover {
      background-color: darken(#28a745, 10%);
    }
  }

  &--secondary {
    background-color: #6c757d;
    color: white;

    &:hover {
      background-color: darken(#6c757d, 10%);
    }
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}
